* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  background-color: rgb(233, 236, 236);
}

body {
  margin-top: 100px;
  text-align: center;
}

h1 {
  margin-bottom: 16px;
  font-size: 56px;
}

form {
  text-align: center;
}

input,
button {
  padding: 8px;
  margin-bottom: 16px;
}

input {
  margin-right: 16px;
}

button {
  background-color: #009432;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}

ul li {
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
}

#linha li.riscado {
  text-decoration: line-through;
}
